.App{
  text-align: center;
  padding: 70px;
  z-index: 10;
}

.App form{
  text-align: left;
  margin: 0 auto;
  width: 250px;
}

.App .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container{
  margin-bottom: 15px;
}

.input-container label{
  display: block;
  margin-bottom: 15px;
}

.input-container input{
  width: 100%;
  padding: 7px;
  font-size: 16px;  
}

button{
  padding: 10px;
  background: white;
  border: none;
  border-radius: 10px;

}

.fa-circle-xmark{
  font-size: 16px;
}

button.submit{
  margin-right: 10px;
}

/* UsersList */

.list-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rosybrown;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

ul{
  list-style: none;
}

.btns button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(242, 186, 186);
    margin: 10px;
}

.btns .delete{
  background-color: rgb(242, 186, 186);
}

.info{
  text-align: left; 
  margin-left: 30px;
}

.info h2{
  
}
