.App{
  text-align: center;
  padding: 70px;
}

.App form{
  text-align: left;
  margin: 0 auto;
  width: 250px;
}

.input-container{
  margin-bottom: 15px;
}

.input-container label{
  display: block;
  margin-bottom: 15px;
}

.input-container input{
  width: 100%;
  padding: 7px;
  font-size: 16px;  
}

button{
  padding: 10px;
  background: lightcoral;
  border: none;
  border-radius: 10px;

}

button.submit{
  margin-right: 10px;
}

